## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
publish/

## User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

## Sensitive data - JANGAN di-commit!
# appsettings.Development.json
# appsettings.Production.json
*.tar.gz
*.zip

## VS Code
.vscode/
.vs/